html,
body {
    background-color: #f4e6bc;
    position: relative;
}

html,
body,
ul,
li,
h4 {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', Arial, sans-serif;
}

li,
div,
p,
span {
    font-family: 'Libre Baskerville', serif;
}

.addPost-btn {
    position: fixed;
    left: 3%;
    bottom: 5%;
}

.homepage-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.page-header {
    width: 100%;
    text-align: center;
}